<div class="message-feed mx-3">
  <% if messages.any? %>
    <ul>
      <%= render partial: 'messages/message', collection: messages %>
    </ul>
  <% else %>
    <h4 class="text-primary">Nothing in the feed yet.</h4>
  <% end %>
</div>
