<div id="message-<%= message.id %>">
  <div class='message-attribution' >
    <%= link_to message.user.fullname, user_path(message.user), class: 'message-author' %>
    <span class='message-date'> <%= time_ago_in_words(message.created_at) %></span>
  </div>
  <p class="message-text">
    <%= message.text %>
  </p>
  <div class='message-liking'>
    like button
  </div>
</div>