<div id="messaging-form" class="clearfix">
  <%= form_for(user.messages.new) do |f| %>
    <div class="form-field">
      <p>Say something</p>
      <%= f.text_area :text, size: '30x3', placeholder: 'Compose new message', class: 'form-control' %>
    </div>

    <div id="form-submit">
      <%= f.submit 'Message', class: "btn btn-primary" %>
    </div>
  <% end %>
</div>